<% content_for :user_bar do %>
  <%= link_to posts_path, class: "btn btn-default" do %>
    <span class="glyphicon glyphicon-triangle-left"></span>
    Back to posts
  <% end %>
<% end %>

<h3>Post</h3>
<%= form_for(@post) do |form| %>
  <%= render "posts/form_fields", form: form %>    
<% end %>

