<% content_for :user_bar do %>
  <%= link_to posts_path, class: "btn btn-default" do %>
    <span class="glyphicon glyphicon-triangle-left"></span>
    Back to posts
  <% end %>
<% end %>

<h1>New Post</h1>