<aside class="main-sidebar">
  <% if signed_in? %>
    <p>
      <div id="logged-user"> 
        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>    
        <%= "#{current_user.name}" %>
        <%= link_to session_path, method: :delete do %>
          <span class="glyphicon glyphicon-remove-circle"></span>
        <% end %>
      </div>
      <br/>
    </p>
  <% end %>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
  consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
  cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
  proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
</aside>